@font-face {
  font-family: WW;
  src: url("../fonts/good times rg.ttf") format("truetype");
}

body {
  background-image: url('../images/world_background.jpeg');
  background-size: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: WW;
}

.modal-background {
  background-color: rgba(255, 255, 255, 0.399);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.modal {
  position: absolute;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.954);
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(203, 203, 203);
  z-index: 10;
}

.modal > p:hover {
  font-size: 20px;
  text-shadow: 0 0 10px rgb(21, 255, 53);
  transition: 0.3s;
}

.modal > p:first-of-type {
  position: absolute;
  top: 70px;
  cursor: pointer;
}

.modal > p:last-of-type {
  position: absolute;
  cursor: pointer;
  bottom: 70px;
}

.game-over-modal-background {
    background-color: rgba(255, 255, 255, 0.399);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.game-over {
    position: absolute;
    width: 450px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.954);
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(203, 203, 203);
    z-index: 10;
}


.game-over > h1.win-lose {
    font-size: 28px;
    margin-bottom: 30px;
}

.game-over > .lose-only {
    color: rgb(191, 0, 0);
}

.game-over > .win-only {
    color: rgb(137, 213, 24);
}

.game-over > p.game-over-message {
    font-size: 16px;
    text-align: center;
    line-height: 1.4;
    width: 80%;
    margin-bottom: 70px;
}

.game-over > p.play-again-button {
    position: absolute;
    bottom: 110px;
    cursor: pointer;
}
.game-over > p.play-again-button:hover {
    font-size: 20px;
    text-shadow: 0 0 10px rgb(21, 255, 53);
    transition: 0.3s;
}

.game-over > p.game-over-exit-button {
    position: absolute;
    cursor: pointer;
    bottom: 70px;
}
.game-over > p.game-over-exit-button:hover {
    font-size: 20px;
    text-shadow: 0 0 10px rgb(21, 255, 53);
    transition: 0.3s;
}

#menu-icon {
  position: absolute;
  top: 18px;
  left: 25px;
  width: 80px;
  height: auto;
  cursor: pointer;
  border-radius: 40px;
}

#menu-icon:hover {
  width: 90px;
  height: auto;
  top: 13px;
  left: 20px;
  transition: 0.3s;
  background-color: rgba(21, 255, 52, 0.137);
  box-shadow: 0 0 100px rgba(21, 255, 52, 0.555);
}

#music-icon {
  position: absolute;
  top: 10px;
  right: 22px;
  width: 90px;
  height: auto;
  cursor: pointer;
}

#music-icon:hover {
  width: 100px;
  height: auto;
  top: 5px;
  right: 17px;
  transition: 0.3s;
}

#git-icon {
  position: absolute;
  top: 120px;
  right: 36px;
  width: 58px;
  height: auto;
  cursor: pointer;
}

#git-icon:hover {
  width: 64px;
  height: auto;
  top: 117px;
  right: 33px;
  transition: 0.3s;
}

#linked-icon {
  position: absolute;
  top: 200px;
  right: 20px;
  width: 90px;
  height: auto;
  cursor: pointer;
}

#linked-icon:hover {
  width: 100px;
  height: auto;
  top: 195px;
  right: 15px;
  transition: 0.3s;
}

header.title-sign {
  position: absolute;
  font-size: 50px;
  cursor: pointer;
  text-shadow: 0 0 40px rgb(255, 255, 255);
}

header.title-sign:hover {
  font-size: 52px;
  text-shadow: 0 0 40px rgb(0, 208, 255);
  transition: 0.5s;
}

p.catchphrases {
  position: absolute;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 0 20px white;
}

ul.pre-menu {
  position: absolute;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  text-shadow: 0 0 20px white;
}

ul.pre-menu > li:hover {
  font-size: 20px;
  text-shadow: 0 0 10px rgb(21, 255, 53);
  transition: 0.3s;
}

li.start-game {
  position: absolute;
  top: 70px;
  cursor: pointer;
}

li.instruction {
  position: absolute;
  cursor: pointer;
  bottom: 70px;
}

article.controls {
  width: 900px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgba(255, 255, 255, 0.577);
  border-radius: 5px;
  box-shadow: 0 0 20px rgb(203, 203, 203);
  font-size: 16px;
}

article.controls > h1 {
  font-size: 24px;
  margin: 10px;
}

article.controls > p {
  line-height: 1.4;
  text-align: center;
  width: 800px;
}

article.controls > img {
  width: 50%;
  height: auto;
}

article.controls > p.go-back {
  cursor: pointer;
  width: fit-content;
}

article.controls > p.go-back:hover {
  color:rgb(42, 175, 223);
  text-shadow: 0 0 15px rgb(56, 194, 244);
}

#game-canvas {
  position: absolute;
  width: 900px;
  height: 550px;
  border: 5px solid rgb(46, 46, 46);
  border-radius: 20px;
  box-shadow: 0 0 100px rgb(0, 229, 255);
  background-image: url('../images/Forest.png');
  background-position: 50%;
}

.fade-in {
  visibility: visible;
  opacity: 1;
  transition: opacity 800ms;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms
}

